body {
    width: 500px;
    height: 500px;
    margin: auto;
}

#elastic {
    display: block;
    margin: 40px 0px;
}

.elastic li {
    transition: all ease 500ms;
}

.elastic li.hide {
    display: none;
}